/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.navbar {
  background-color: #00acc1 !important;
  padding-top: 0;
  padding-bottom: 0;
  /* border: 1px solid black; */
}

.navlink {
  font-weight: 400;
  font-size: 20px;
  color: #000000 !important;
  margin-left: 10px;
  margin-right: 10px;
  /* border-bottom: 4px solid black; */
  /* border: 1px solid black; */
}

.brand {
  font-size: 24px !important;
}

.post-div{
  /* height: calc(100vh - 62px); */
  /* margin-top: calc(100vh -62px); */
  /* margin-top: 80px; */
  margin-bottom: 30px;
  /* border: 1px solid black; */
}

.post-img-div {
  /* background-color: #62727b; */

}

.post-img {
  width: 100%;
}

.single-post-div {
  margin-top: 30px;
  margin-bottom: 30px;
}

.single-post-div .title {
  background-color: #102027 !important;
  color: #fff;
}

.post-read{
  margin-top: 15px;
  background-color: #62727b !important;
  color: #fff;
}

.other-div{
  /* background-color: #62727b; */
}

.single {
  margin-top: 30px;
}

.single-title{
  border-bottom: 2px solid #102027 !important;
  color: #102027;
}

.single-img {
  width: 70%;
  margin-top: 15px;
  margin-bottom: 15px;

  /* vertical-align: middle; */
  display: flex;
  justify-content: center;
  text-align: center;
  /* margin: auto; */
}
.col-headers {
  font-weight: bold;
  font-size: 16px;
}

input[type="text"],
input[type="password"] {
  border: 1px solid #ccc;
  padding: 5px 10px;
  border-radius: 5px;
  margin-top: 2px;
  margin-bottom: 2px;
  width: 100%;
}

.bg-image {
  width: 100%;
  height: calc(100vh - 56px);
  background-image: url(./images/bb.jpg);
  background-size: cover;
}

.title-text {
  color: #004085;
  font-size: 100px;
  /* vertical-align: middle; */
  line-height: calc(100vh - 56px);
}
